.comments {
	padding-top: 150px;
	margin-bottom: 75px;
}

.comments__title {
	margin-bottom: 30px;
}

.comments__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 50px;
}
.comments__col {
	max-width: calc(50% - 25px);
}

.comments__col--big {
	max-width: 860px;
}

.comments__item-title {
	margin-bottom: 15px;
	font-size: 45px;
	letter-spacing: -1.35px;
	color: #000;
}

.comments__item-text {
	color: #000;
	font-size: 22px;
	line-height: normal;
	letter-spacing: -0.66px;
}

.comments__item-text:not(:last-child) {
	margin-bottom: 30px;
}

@media (max-width: 961px) {
	.comments {
		padding-top: 120px;
		margin-bottom: 60px;
	}
	.comments__row {
		column-gap: 10px;
		justify-content: space-between;
	}
	.comments__col {
		max-width: calc(50% - 5px);
	}
	.comments__col--big {
		max-width: 700px;
	}
	.comments__item-title {
		margin-bottom: 25px;
		font-size: 35px;
		letter-spacing: -1.05px;
	}
	.comments__item-text {
		font-size: 20px;
		letter-spacing: -0.6px;
	}
	.comments__item-text:not(:last-child) {
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.comments {
		padding-top: 80px;
		margin-bottom: 40px;
	}
	.comments__row {
		row-gap: 80px;
	}
	.comments__col {
		max-width: 100%;
	}
	.comments__title {
		margin-bottom: 22px;
	}
	.comments__item-title {
		margin-bottom: 10px;
		font-size: 25px;
		letter-spacing: -0.75px;
	}
	.comments__item-text {
		font-size: 16px;
		letter-spacing: -0.48px;
	}
}
