.contacts {
	padding-top: 75px;
	padding-bottom: 150px;
}

.contacts__title {
	margin-bottom: 74px;
}

.contacts__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 70px;
}

.contacts-wrapper {
	min-width: 50%;
	align-self: start;
}

.contacts__phone,
.contacts__email {
	position: relative;
	font-family: Manrope;
	font-size: 60px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -1.8px;
	color: #121212;
}

.contacts__phone {
	margin-right: 30px;
	letter-spacing: -0.8px;
}

.contacts__email {
	border-bottom: 2px solid rgba(18, 18, 18, 0.5);
	color: rgba(18, 18, 18, 0.5);
}

.contacts__phone::before,
.contacts__email::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: -40px;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contacts__phone::before {
	background-image: url('../images/phone-iphone.svg');
}

.contacts__email::before {
	background-image: url('../images/mail.svg');
}

@media (max-width: 961px) {
	.contacts {
		padding-top: 60px;
		padding-bottom: 80px;
	}

	.contacts__phone,
	.contacts__email {
		font-size: 45px;
		line-height: 1.33;
		letter-spacing: -1.35px;
	}
}

@media (max-width: 768px) {
	.contacts {
		padding-top: 40px;
		padding-bottom: 80px;
	}

	.contacts__title {
		margin-bottom: 58px;
	}

	.contacts__inner {
		flex-direction: column;
		align-items: start;
		row-gap: 58px;
	}

	.contacts__phone {
		margin-right: 0;
	}

	.contacts__email {
		border-bottom: none;
		opacity: 1;
	}

	.contacts__phone,
	.contacts__email {
		font-size: 35px;
		line-height: 1.3;
		letter-spacing: -1.05px;
	}

	.contacts__phone::before,
	.contacts__email::before {
		width: 18px;
		height: 18px;
	}
}
