.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	background-color: #121212;
}

.footer__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__nav {
	margin-bottom: 87px;
}

.footer__list {
	display: flex;
	column-gap: 53px;
}

.footer__nav-link {
	display: inline-block;
	font-family: Manrope;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.footer__nav-link:hover {
	color: #ad1818;
	font-weight: 700;
}

.footer__text {
	font-size: 20px;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #fff;
	opacity: 0.5;
}

@media (max-width: 961px) {
	.footer__nav-link {
		font-size: 18px;
		letter-spacing: -0.54px;
	}
}

@media (max-width: 768px) {
	.footer {
		padding-top: 30px;
		padding-bottom: 25px;
	}

	.footer__nav {
		margin-bottom: 40px;
	}

	.footer__nav-link {
		font-size: 12px;
		letter-spacing: -0.36px;
	}
	.footer__text {
		font-size: 13px;
		letter-spacing: -0.39px;
	}
}

@media (max-width: 375px) {
	.footer__list {
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 15px;
	}
}
