.nav-section__inner {
	position: relative;
	padding-top: 33px;
	padding-bottom: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-section__logo {
	flex: 0 0 128px;
}

.nav-section__nav {
	display: flex;
	gap: 60px;
}

.nav-section__link {
	color: #121212;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.nav-section__link:hover {
	color: #ad1818;
	font-weight: 700;
}

.nav-section__link--active {
	opacity: 0.7;
	border-bottom: 1px solid #121212;
}

.burger-btn {
	display: none;
}

@media (max-width: 1023.98px) {
	.nav-section__nav {
		display: none;
	}
	.burger-btn {
		position: absolute;
		right: 20px;
		z-index: 2;
		display: inline-block;
		background-image: url('../images/burger-icon.svg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 50px;
		height: 8px;
	}
	
}
