.projects {
	padding-top: 75px;
	margin-bottom: 150px;
}

.projects__title {
	margin-bottom: 30px;
}

.projects__items {
	margin-bottom: 90px;
}

.projects__item:not(:last-child) {
	margin-bottom: 90px;
}

picture {
	display: block;
	width: 100%;
}

.projects__image-body {
	margin-bottom: 15px;
}

.projects__image {
	width: 100%;
}

.projects__item-title {
	margin-bottom: 14px;
}

.projects__link {
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #ad1818;
}

.projects__btn {
	display: block;
	padding: 56px 5px;
	border-radius: 5px;
	border: 1px solid #ad1818;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
	color: #ad1818;
	background-color: #fff;
}

.projects__btn:hover {
	color: #fff;
	background-color: #ad1818;
}

@media (max-width: 961px) {
	.projects {
		padding-top: 60px;
		margin-bottom: 120px;
	}
	.projects__items {
		margin-bottom: 100px;
	}
	.projects__item:not(:last-child) {
		margin-bottom: 80px;
	}
	.projects__link {
		font-size: 16px;
		letter-spacing: -0.48px;
	}
}

@media (max-width: 768px) {
	.projects {
		padding-top: 40px;
		margin-bottom: 80px;
	}
	.projects__title {
		margin-bottom: 20px;
		font-size: 14px;
		letter-spacing: -0.42px;
	}
	.projects__items {
		margin-bottom: 60px;
	}
	.projects__item:not(:last-child) {
		margin-bottom: 50px;
	}
	.projects__btn {
		padding: 37px 5px;
		font-size: 22px;
		line-height: normal;
		letter-spacing: -0.66px;
	}
	.projects__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
