.services {
	background-color: #121212;
	padding: 150px 0;
}

.services__items {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 105px;
	column-gap: 10px;
	row-gap: 85px;
}

.services__item {
	position: relative;
	width: calc(50% - 5px);
}

.services__title {
	margin-left: 2px;
	margin-bottom: 34px;
	color: #fff;
	font-size: 18px;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.services__image {
	margin-bottom: 25px;
}

.services__image img {
	object-fit: cover;
}

.services__item-title {
	margin-left: 4px;
	margin-bottom: 0;
}

.services__label {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 36px;
	left: 50px;
	padding: 5px 20px;
	color: #fff;
	font-size: 22px;
	line-height: normal;
	letter-spacing: -0.66px;
	border-radius: 5px;
	background: #ad1818;
}

.services__btn {
	display: block;
	padding: 56px 0;
	border: solid 1px #ad1818;
	color: #fff;
	text-align: center;
	font-family: Manrope;
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
	border-radius: 5px;
	background: #ad1818;
}

.services__btn:hover {
	border: solid 1px #ad1818;
	color: #ad1818;
	background: #fff;
}

@media (max-width: 961px) {
	.services {
		padding: 120px 0;
	}
	.services__items {
		margin-bottom: 80px;
		row-gap: 80px;
	}
	.services__image {
		margin-bottom: 15px;
	}

	.services__label {
		top: 30px;
		left: 30px;
		padding: 5px 25px;
		font-size: 20px;
		letter-spacing: -0.6px;
	}
}

@media (max-width: 768px) {
	.services {
		padding: 80px 0;
	}
	.services__items {
		margin-bottom: 60px;
		row-gap: 60px;
	}
	.services__title {
		margin-bottom: 20px;
	}
	.services__image {
		margin-bottom: 10px;
	}
	.services__label {
		top: 23px;
		left: 24px;
		font-size: 14px;
		letter-spacing: -0.42px;
	}
	.services__btn {
		padding: 36px 0;
		font-size: 22px;
		letter-spacing: -0.66px;
	}
}

@media (max-width: 550px) {
	.services__item {
		width: 100%;
	}
}
