@import 'nav-section.css';
@import 'top.css';
@import 'about.css';
@import 'project.css';
@import 'services.css';
@import 'comments.css';
@import 'gallery.css';
@import 'contacts.css';
@import 'footer.css';

html {
	scroll-behavior: smooth;
}

.none {
	display: none;
}

img {
	width: 100%;
}

body {
	font-family: Manrope, sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #121212;
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-size: 18px;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.title-item {
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
}
.title-item-white {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
}

@media (max-width: 1024.98px) {
	.container {
		width: 100%;
	}
	.title-item {
		font-size: 25px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.75px;
	}
	.title-item-white {
		font-size: 25px;
		letter-spacing: -0.75px;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 13px;
	}
	.title {
		font-size: 14px;
		letter-spacing: -0.42px;
	}
	.title-item {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.54px;
	}
	.title-item-white {
		font-size: 18px;
		letter-spacing: -0.54px;
	}
}
