html {
	scroll-behavior: smooth;
}

body {
	font-family: Manrope, sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #121212;
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-size: 18px;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.title-item {
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
}
.title-item-white {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
}

.nav-section__inner {
	padding-top: 33px;
	padding-bottom: 70px;
}

.logo__link {
	display: inline-block;
	margin-right: 548px;
}

.logo__icon {
	display: block;
	width: 128px;
	height: 23px;
}

.nav {
	display: inline-block;
	vertical-align: top;
}

.nav__link {
	display: inline-block;
	height: 25px;
	color: #121212;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.nav__link:hover {
	color: #ad1818;
}

.nav__link--active {
	opacity: 0.5;
	text-decoration: underline;
}

.nav__link:not(:last-child) {
	margin-right: 60px;
}

.top__title {
	width: 956px;
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1.8px;
	margin-bottom: 30px;
}

.top__image-bg {
	position: relative;
	width: 100%;
	height: 500px;
	margin-bottom: 150px;
	background-image: url('../images/image-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.top__text {
	position: absolute;
	left: 40px;
	bottom: 40px;
	width: 430px;
	font-size: 20px;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #fff;
}

.about {
	margin-bottom: 150px;
}

.about__title {
	margin-bottom: 30px;
}

.about__text {
	width: 1048px;
	color: #121212;
	font-size: 45px;
	line-height: normal;
	letter-spacing: -1.35px;
	margin-bottom: 30px;
}

.about__btn {
	display: inline-block;
	padding: 20px 40px;
	border-radius: 5px;
	text-align: center;
	line-height: normal;
	font-size: 20px;
	letter-spacing: -0.6px;
	color: #fff;
	background-color: #ad1818;
}

.projects {
	margin-bottom: 150px;
}

.projects__title {
	margin-bottom: 30px;
}

.projects__item {
	margin-bottom: 90px;
}

.projects__image {
	margin-bottom: 15px;
}

.projects__item-title {
	margin-bottom: 15px;
}

.projects__link {
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #ad1818;
}

.projects__btn {
	display: block;
	height: 153px;
	border-radius: 5px;
	border: 1px solid #ad1818;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	line-height: 153px;
	letter-spacing: -0.9px;
	color: #ad1818;
	background-color: #fff;
}

.projects__btn:hover {
	color: #fff;
	background-color: #ad1818;
}

.services {
	background-color: #121212;
	padding-top: 150px;
	padding-bottom: 150px;
}

.services__item:not(:last-child) {
	margin-bottom: 60px;
}

.services__title {
	margin-bottom: 34px;
	color: #fff;
	font-size: 18px;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.services__image {
	margin-bottom: 15px;
}

.services__item-title {
	margin-bottom: 0;
}

.example {
	position: relative;
	height: 733px;
	margin-bottom: 50px;
	background-image: url(/images/example-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.example__title {
	position: absolute;
	width: 443px;
	bottom: 60px;
}

.contacts {
	padding-top: 186px;
	padding-bottom: 160px;
}

.contacts__title {
	margin-bottom: 32px;
}

.contacts__title::before {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	margin-bottom: 12px;
	background-image: url(/images/phone-iphone.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contacts__phone,
.contacts__email {
	display: block;
	width: 473px;
	font-family: Manrope;
	font-size: 60px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -1.8px;
	color: #121212;
}

.contacts__phone {
	margin-bottom: 30px;
}

.contacts__email {
	opacity: 0.5;
}
